{% extends 'base.html' %}
{% load i18n %}
{% block title %}
  {% trans 'Categories Dashboard' %}
{% endblock %}
{% block  content %}
{% load static %}

<div class="container dash-board">
  <div class="row">
    <div class="col-md-7 m-auto auth text-center ">
      <h2 class="mt-5 mb-4 pb-3">
        {% trans 'Categories Dashboard' %}
        
      </h2>
    </div>

    <div class="col-md-10 m-auto">
      
      <p class="table-add-new">
           <a class="btn btn-link" href="{% url 'posts:add_category' %}">
            {% trans 'To add new Category' %}  
            <i class="fa fa-plus"></i>
          </a>
      </p>
    </div>
    <div class="col-md-10 m-auto">
      <br />
      {% if cates %}
      <table class="table">

        <thead class="thead-dark">
          <tr style="border-radius: 6px">
            <th scope="col">{% trans 'Title' %}</th>
            <th scope="col">{% trans 'Slug' %}</th>
            <th scope="col">{% trans 'Created At' %}</th>
            <th scope="col">

              ###
            </th>
          </tr>
        </thead>
        <tbody>
          {% for cate in cates %}
          <tr>
            <th scope="row">{{cate.title|capfirst}}</th>
            <th scope="row">{{cate.slug}}</th>
            <td>{{cate.timestamp}}</td>
            <td class="">
              <a href="{% url 'posts:edit_category' slug=cate.slug %}" class='btn'>
                {% trans 'Edit' %}
              </a>

            </td>
          </tr>
          {% endfor %}

        </tbody>
      </table>
      {% else %}
      <p class="das-par text-center"> 
         {% trans ' There are no categories' %}
      </p>
      {% endif %}

    </div>

  </div>
</div>
{% endblock %}