{% extends 'base.html' %}
{% load i18n %}
{% block title %}
  {% trans 'Posts Dashboard' %}
{% endblock %}
{% block  content %}
{% load static %}

<div class="container dash-board">
  <div class="row">
    <div class="col-md-6 m-auto">
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{message.level_tag}} alert-dismissible fade show" role="alert">
          <p{% if message.tags %} class="{{ message.tags }} text-center" {% endif %}>{{ message }}</p>
              {% endfor %}

              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>

      </div>
      {% endif %}
    </div>
    <div class="w-100"></div>
    <div class="col-md-6 auth m-auto  text-center">
      <h2 class="mt-5 mb-3 pb-3"> 
        {% trans 'Posts Dashboard' %}
      </h2>
    </div>
    <div class="w-100"></div>
    <div class="col-md-8 m-auto">
      <p class="lead table-add-new">
        <a class="btn btn-link" href="{% url 'posts:add_post' %}">
          <i class="fa fa-plus"></i> 
          {% trans 'To add new post' %}  
        </a>        
      </p>
    </div>
    <div class="col-md-8 m-auto">
      {% url 'main:posts-dashboard' as posts_url %}
      {% include 'snippets/search_bar_widget.html' with url=posts_url %}
    </div>
    <div class="col-md-10 m-auto">
      <br />
      {% if  posts %}
      <table class="table">

        <thead class="thead-dark">
          <tr style="border-radius: 6px">
            <th scope="col">
              {% trans 'Title' %}
            </th>

            <th scope="col">{% trans 'Slug' %}</th>
            <th scope="col">{% trans 'Created At' %}</th>
            <th scope="col">
              ###
            </th>
          </tr>
        </thead>
        <tbody>
          {% for post in posts %}
          <tr>
            <th scope="row">

              <a href="{{post.get_absolute_url}}">
                {{post.title|capfirst}}
              </a>
            </th>

            <td>{{post.slug}}</td>
            <td>{{post.timestamp}}</td>
            <td class="">
              <a href="{% url 'posts:edit_post' post_slug=post.slug %}" class='btn'>
                {% trans 'Edit' %}
              </a>

              <a href="{% url 'posts:delete_post' post_slug=post.slug %}" class='btn'>
                {% trans 'Delete' %}
              </a>
            </td>
          </tr>
          {% endfor %}

        </tbody>
      </table>
      <div>
        {% include 'snippets/paginator.html' with page_var="page" %}
      </div>
      {% else %}
      <p class="das-par text-center"> 
        {% trans 'There are no Posts' %} 
      </p>
      {% endif %}

    </div>

  </div>
</div>
{% endblock %}