{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Register' %}{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container mt-5 mb-5">
  <div class='row'>
    <div class='col-lg-6 text-center m-auto auth'>
      <h2 class="mb-4 ">{% trans 'Register' %}</h2>
      <form id="register-form" method="post">
        {% csrf_token %}
        {{form|crispy}}
        <br />
        <button type="submit" class="my-button">
          {% trans 'Register' %}
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock %}