{% extends 'base.html' %}
{% block title %}About Me{% endblock %}
{% block content %}
{% load static %}

<div class="container about-me">
	<div class="row ">
		<div class="col-md-12">
			<h1 class="text-center">
				<br />
				About Me
				<hr />
			</h1>
		</div>
		{% if privacy %}
		<div class="col-lg-12">
			<p class="lead">
				{{privacy.overview}}
			</p>
			{{privacy.safe_content}}
		</div>
		{% else %}

		<div class="col-md-12">
			<h1 class="text-center no-content">
				There is no About Me description
				<br />
			</h1>
		</div>
		{% endif %}

	</div>

</div>
{% endblock %}