{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'About Blog' %}{% endblock %}
{% block content %}
{% load static %}

<div class="container about-blog">
	<div class="row">
		<div class="col-md-6 m-auto auth text-center ">
			<h2 class="mt-5 mb-4 pb-3">
				{% trans 'About Blog' %}	
			</h2>
		</div>
		{% if about_blog.overview or about_blog.safe_content  %}
		<div class="col-md-8 m-auto">
			<p class="lead">
				{{about_blog.overview}}
			</p>
			{{about_blog.safe_content}}
		</div>
		{% else %}

		<div class="col-md-12">
			<h4 class="text-center no-content">
				{% trans 'There is no About Blog description' %}
			</h4>
		</div>
		{% endif %}

	</div>

</div>
{% endblock %}