{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'About Me' %}{% endblock %}
{% block content %}
{% load static %}

<div class="container about-me">
	<div class="row ">
		<div class="col-md-6 m-auto auth text-center">
			<h2 class="mt-5 mb-4 pb-3">
				{% trans 'About Me' %}
			</h2>
		</div>

		{% if privacy %}
		
		<div class="col-md-8 m-auto">
			<p class="lead">
				{{privacy.overview}}
			</p>
			{{privacy.safe_content}}
		</div>
		{% else %}

		<div class="col-md-12">
			<h4 class="text-center no-content">
				{% trans 'There is no About Me description' %}
			</h4>
		</div>
		{% endif %}

	</div>

</div>
{% endblock %}