{% extends "base.html" %}
{% load i18n  %}
{% block title %} {% trans 'Activation Error' %} {% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<div class='container'>
	<div class='row'>
		{% if key %}
	    <div class="col-md-6 m-auto py-5 ">
	            <h2 class='my-3 py-3 text-center'>
					{% trans 'Activation Error. Please try again.' %} 
				</h2>
				<p class="text-center">
					<a href="{% url 'accounts:email-resend-activation' %}" 
					   class="btn btn-link">
						{% trans 'Resend Email Activation' %}</a>
				</p>
	      </div>
	      {% else %}
	      <div class="col-lg-6 p-4 m-auto ">
	      	<h2 class='text-center'> 
				  {% trans 'Resend Email Activation' %} 
				  <hr>
			</h2>
		</div>
		<div class="w-100"></div>
		<div class="col-lg-5 m-auto">
	      		<form  method='post' action="">
	      			{% csrf_token %}
					  {{form|crispy}}
					  <br />
	      			<button class="my-button" type="submit">
						  {% trans 'Resend Activation' %}
					</button>
	      		</form>
	      </div>
	      {% endif %}
	      

	</div>
</div>
{% endblock %}
