{% extends "base.html" %}
{% block title %}password reset {% endblock %}

{% block content %}
{% load crispy_forms_tags %}
<div class='row'>
    {% if form %}
    <div class='col-md-8 col-10  mx-auto'>
    	<br>
        <h1 class="display-4 text-center">
        	Set your Password <hr>
        </h1>
        <form method='post' action=''>{% csrf_token %}
        {{ form|crispy }}
        <span style='margin-bottom: 12px;'></span>
        <button type="submit" class='btn btn-dark'>Set new password</button>
        <br>
        <br>
        <br>
        </form>
      </div>
      {% else %}
      <div class='col-md-8 col-10  mx-auto col-md-push-3 '>
            <br>
            <h1 class="text-center display-4">
                <br>
                Expired link
                <br>
                <br><br>
            </h1>
    </div>
    {% endif %}
</div>
{% endblock %}
