{% extends "base.html" %}
{% block title %}password reset almost{% endblock %}
{% block content %}
{% load crispy_forms_tags %}

<div class='row'>
    <div class='col-md-8 col-10  mx-auto'>
    <h1 class="display-4 text-center">
    	<br>
    		Reset your Password
    	 <br>
    	 
    	 <hr /></h1>

        <form method='post' action=''>{% csrf_token %}
        {{ form|crispy }}
        <span style='margin-bottom: 12px;'></span>
        <button type="submit" class='btn  btn-dark'>Reset Password</button>
        </form>
        <br>
        <br>
        <br>
      </div>
      
</div>
{% endblock %}
