{% extends 'base.html' %}
{% block title %}Contact Me{% endblock %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}
<div class="container">
	<div class="row contact-me">

		<div class="col-lg-8 m-auto">
			<br>
			<h1 class="display-4 text-center">
				Contact Me
				<hr>
			</h1>
		</div>
		<div class="col-md-8 m-auto">
			<form method="POST" class="contact-form">
				{% csrf_token %}
				{{form|crispy}}
				<button type="submit" class="btn btn-info">Send</button>
			</form>
		</div>
	</div>
</div>

</div>
{% endblock %}