<!-- Divider Section-->
<section
  style="background: url({% static 'img/peace.jpg'%}); background-size: cover; background-position: center bottom"
  class=" python-cover wow zoomIn divider">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <p>Lord, make me an instrument of thy peace. Where there is hatred, let me sow love.</p>
        <a href="{% url 'posts:list' %}" class="hero-link">View More</a>
      </div>
    </div>
  </div>
</section>