{% if recent_posts %}
{% load i18n %}
<div class="widget latest-posts">
  <header>
    <h3 class="h6">{% trans 'Latest Posts' %}</h3>
  </header>
  <div class="blog-posts">
    {% for post in recent_posts %}
    <a href="{% url 'posts:detail' slug=post.slug %}">
      <div class="item d-flex align-items-baseline">
        <div class="image"><img src="{{ post.thumbnail.url }}" alt="..." class="img-fluid img-thumbnail"></div>
        <div class="title"><strong>{{post.title|capfirst}}</strong>
          <div class="d-flex align-items-center">
            <div class="views"> {{post.auther.user.username}}
            </div>

            <div class="comments"><i class="icon-comment"></i>{{post.comments.count}}</div>
          </div>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
{% endif %}