{% extends 'base.html' %}
{% block title %}Server Error{% endblock %}
{% block content %}
{% load static %}
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <br>
      <br>
      <h1 class="display-4 error-pages">
        Opps Sorry &nbsp; <i class="fas fa-dizzy fa-pulse fa-lg"></i> A Server Error Occurred
      </h1>

      <p class="lead">500 Error | We have been notified and we are working on fix </p>
      <br>
      <br>
      <br>

    </div>
  </div>
</div>

{% endblock %}