{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Server Error' %}{% endblock %}
{% block content %}
{% load static %}
<div class="container">
  <div class="row">
    <div class="col-md-8  m-auto">
      <h1 class="display-4 text-center mb-4 mt-5 error-pages">
        {% trans 'Opps Sorry' %} 
        <i class="fas fa-dizzy  fa-lg"></i> 
        {% trans 'A Server Error Occurred' %}
      </h1>

      <p class="lead mb-5 text-center">
          {% trans '500 Error | We have been notified and we are working on fix ' %}
      </p>
     

    </div>
  </div>
</div>

{% endblock %}