{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
{% load static %}

<!-- Hero Section-->
<section style="background: url({% static 'img/blog.png'%}); background-size: cover; background-position: center center"
  class="hero">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <h1 class="home-heading">This awesome blog was made with <i class="fa fa-heart"></i> by <span>MasterBDX</span>
        </h1>
        <a href="{% url 'blog' %}" class="hero-link">
          Take a look</a>
      </div>
    </div>
    <span class="continue">
      <i class="fa fa-long-arrow-down scrollDown"></i>
      <span class="scrollDown">Scroll Down</span>
    </span>



  </div>
</section>

<!-- Intro Section-->
<section class="intro wow fadeInLeft">
  {% if about_blog.overview %}
  <div class="container">
    <div class="row">
      <div class="col-lg-8" id="about-blog">
        <h3 class="">About Blog
          <hr>
        </h3>
        <p class="lead">
          {{about_blog.overview}}
          {% if about_blog.content %}
          <a href="{% url 'about_blog' %}">read more</a>
          {% endif %}
        </p>
      </div>
    </div>
  </div>
  {% endif %}
</section>
<section class="featured-posts no-padding-top">
  <div class="container">

    <!-- Post-->
    {% for object in featured_posts %}
    <div class="row d-flex align-items-stretch wow zoomIn">
      {% if not forloop.first and not forloop.last %}
      <div class="image col-lg-5">

        <img width="475" height="322.8" src="{% if  object.thumbnail.url %}
                          {{object.thumbnail.url}}
                      {% else %}
                          {% static 'img/default_placeholder.png' %}
                      {% endif %}
                          " alt="..."></div>

      {% endif %}
      <div class="text col-lg-7">
        <div class="text-inner d-flex align-items-center">
          <div class="content">
            <header class="post-header">
              <div class="category">
                {% for category in object.catrgories.all %}
                <a href="{% url 'posts:category_posts' cat_slug=category.slug %}">{{category.title}}</a>
                {% endfor %}

              </div><a href="{{object.get_absolute_url}}">
                <h2 class="h4">{{object.title}}</h2>
              </a>
            </header>
            <p>{{object.overview|truncatewords:30}}</p>

            <footer class="post-footer d-flex align-items-center">
              <a href="{% url 'posts:author_posts' auth_slug=object.author.user.slug %}"
                class="author d-flex align-items-center flex-wrap">
                <div class="title"><span>{{object.author.user.username}}</span></div>
              </a>
              <div class="avatar" style=" {% if object.author.user.profileimage.image %}
                                      background-image:url({{ object.author.user.profileimage.image.url  }})
                                      {% else %}
                                      background-image:url({% static 'img/default.png' %})
                                      {% endif %}
                                      ;
                                      background-size: cover;
                                      ">

              </div>
              <div class="date"><i class="icon-clock"></i>{{object.timestamp}}</div>
              <div class="comments"><i class="icon-comment"></i>{{object.comment_count}}</div>
            </footer>
          </div>
        </div>
      </div>

      {% if forloop.first or forloop.last %}
      <div class="image col-lg-5"><img src="{{object.thumbnail.url}}" alt="..."></div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</section>

<!-- Divider Section-->
<section
  style="background: url({% static 'img/peace.jpg'%}); background-size: cover; background-position: center bottom"
  class=" python-cover wow zoomIn divider">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <p>Lord, make me an instrument of thy peace. Where there is hatred, let me sow love.</p>
        <a href="{% url 'blog' %}" class="hero-link">View More</a>
      </div>
    </div>
  </div>
</section>
{% if latest_posts %}

<!-- Latest Posts -->
<section class="latest-posts ">
  <div class="container">
    <header>
      <h2>Latest posts from the blog </h2>

    </header>
    <div class="row">
      {% for obj in latest_posts %}
      <div class="post col-md-4 wow fadeInLeft">
        <div class="post-thumbnail">
          <a href="{% url 'posts:detail' slug=obj.slug %}">

            <img width="350" height="180" src="{% if  obj.thumbnail.url %}
                          {{obj.thumbnail.url}}
                      {% else %}
                          {% static 'img/default_placeholder.png' %}
                      {% endif %}
                          " alt="..." class="img-fluid img-thumbnail">
          </a>
        </div>
        <div class="post-details">
          <div class="post-meta d-flex justify-content-between">
            <div class="date">{{obj.timestamp}}</div>
            <div class="category">
              {% for category in obj.categories.all %}
              <a href="{% url 'posts:category_posts' cat_slug=category.slug %}">{{category.title}}</a>
              {% endfor %}
            </div>
          </div><a href="post.html">
            <h3 class="h4">{{obj.title}}</h3>
          </a>
          <p class="text-muted"> {{obj.overview|truncatewords:25}} </p>
        </div>
      </div>
      {% endfor %}


    </div>
  </div>
</section>
{% endif %}

{% endblock %}