{% extends 'base.html' %}
{% load i18n %}

{% block title %}
{% trans 'Authors Dashboard' %}
{% endblock %}

{% block content %}
{% load static %}


<div class='container'>  
  <div class='row '>
    <div class="col-md-7 m-auto ">
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{message.level_tag}} alert-dismissible fade show" role="alert">
            <p{% if message.tags %} class="{{ message.tags }} text-center" {% endif %}>{{ message }}</p>
                {% endfor %}

                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
        </div>
        {% endif %}
  </div>
    <div class='col-md-6 m-auto auth text-center'>
      <h2 class="mt-4 mb-4 pb-3 ">
        {% trans 'Authors Dashboard' %}
      </h2>
    </div>
    <div class='col-md-8 m-auto'>
      {% include 'snippets/search_users.html' %}
    </div>
    <div class="col-md-10 m-auto">
      {% if page_obj %}
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">{% trans 'Id' %}</th>
            <th scope="col">{% trans 'Username' %}</th>
            <th scope="col">{% trans 'Slug' %}</th>
            <th scope="col">{% trans 'Email' %}</th>
            <th scope="col">{% trans 'Status' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for user in page_obj.object_list %}
          <tr>
            <th scope="row">{{user.id}}</th>
            <td>{{user.username}}</td>
            <td>{{user.slug}}</td>
            <td>{{user.email}}</td>
            <td>
              <form method='post' action="{% url 'main:confirm_author' slug=user.slug %}">
                {% csrf_token %}
                <input type="hidden" name='status' 
                       value="
                       {% if user.is_author %}
                          {% trans 'deleted' %} 
                       {% else %} 
                          {% trans 'created' %}
                        {% endif %}" />
                <button user-slug='{{user.slug}}' id='author-control' 
                                  class="my-button">
                  {% if user.is_author %}
                  {% trans 'Remove Author' %}
                  {% else %}
                  {% trans 'Add Author' %}
                  {% endif %}
                </button>
              </form>

            </td>
          </tr>
          {% endfor %}

        </tbody>

      </table>
      {% else %}
      <div class='col-lg-12 text-center '>
        {% if request.GET.q %}
        <h2> Could not find any results for {{request.GET.q}} </h2>
        {% else %}
        <h2> There are no users </h2>
        {% endif %}
      </div>
      {% endif %}
    </div>

    {% if page_obj %}
    <div class='col-lg-12 '>
      <!-- Pagination -->
      {% include 'snippets/paginator.html' with page_obj=page_obj page_var=page_var beta=request.GET.beta %}
      <br>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}