{% extends 'base.html' %}
{% load i18n %}

{% block title %}
  {% trans 'Confirm Author' %}
{% endblock  %}
  
{% block content %}
{% load static %}

<div class='container'>
  <div class='row '>
    <div class='text-center col-md-6 auth m-auto'>

      <h2 class=" mt-5 ">
        {% trans 'Confirm Author' %}
        
      </h2>
    </div>
      <div class="col-md-8 m-auto">
      <p class='text-center lead'>
        يرجى التأكيد للقيام ب
        {{status}}
        المؤلف للمستخدم 
        {{username}}
      </p>
      <form class='text-center' method='post'>
        {% csrf_token %}
        <input type="hidden" name='confirm' value='True' />
        <button class='btn btn-dark '>{{status|upper}}</button>
        <br>
        <br>
      </form>
    </div>
  </div>
 
</div>

{% endblock %}