{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Home' %}{% endblock %}
{% block content %}
{% load static %}

<!-- Hero Section-->
<section style="
    background: url({% if obj %}
                    {{obj.image.url}}
                    {% else %}
                    {% static 'img/blog.png'%}
                    {% endif %}); background-size: cover; background-position: center center"
  class="hero">

  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 m-auto">
        {% if obj.content %}
        <h1 class="home-heading" style="">
        {{obj.safe_content}}
        </h1>
        {% endif %}
        <!-- <a href="{% url 'posts:list' %}" class="hero-link">
          Take a look</a> -->
      </div>
    </div>

    <!-- <span class="continue">
      <i class="fa fa-long-arrow-down scrollDown"></i>
      <span class="scrollDown">Scroll Down</span>
    </span> -->

  </div>
</section>


{% if featured_posts.exists %}
{% include 'snippets/featured_posts.html' %}

<!-- Divider Section-->
<div class="divider">
</div>

{% endif %}
{% if latest_posts %}

<!-- Latest Posts -->
<section style="padding:50px 0" class="latest-posts ">
  <div class="container">
    <header class="main-header">
      <h2>{% trans 'Latest posts from the blog' %} </h2>

    </header>
    <div class="row">
      {% for obj in latest_posts %}
      <div class="post col-md-4 wow fadeInLeft">
        <div class="post-thumbnail">
          <a href="{% url 'posts:detail' slug=obj.slug %}">

            <img width="350" height="180" src="{% if  obj.thumbnail.url %}
                          {{obj.thumbnail.url}}
                      {% else %}
                          {% static 'img/default_placeholder.png' %}
                      {% endif %}
                          " alt="..." class="img-fluid img-thumbnail">
          </a>
        </div>
        <div class="post-details">
          <div class="post-meta d-flex justify-content-between">
            <div class="date">{{obj.timestamp}}</div>
            <div class="category">
              {% for category in obj.categories.all %}
              <a href="{% url 'posts:category_posts' cat_slug=category.slug %}">{{category.title}}</a>
              {% endfor %}
            </div>
          </div>
          <a href="{{obj.get_absolute_url}}">
            <h3 class="h4">{{obj.title}}</h3>
          </a>
          <p class="text-muted"> {{obj.overview|truncatewords:25}} </p>
        </div>
      </div>
      {% endfor %}


    </div>
  </div>
</section>
{% endif %}

{% endblock %}