{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans 'Reset your Password' %}{% endblock %}
{% block content %}
{% load crispy_forms_tags %}

<div class='row'>
    <div class='text-center mb-5 auth col-md-6 m-auto'>
        <h2 class="mt-4 mb-4 pb-3 text-center">	
          {% trans 'Reset your Password' %}
        </h2>

        <form method='post' action=''>{% csrf_token %}
        {{ form|crispy }}
       <br />
        <button type="submit" class='my-button'>
          {% trans 'Reset' %}
        </button>
        </form>
    </div>
      
</div>
{% endblock %}
