{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {% trans 'password reset' %} 
{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
<div class="container">
<div class='row'>
    {% if  form %}
    <div class='col-lg-4  auth m-auto text-center'>
        <h2 class="mt-4 mb-t pb-3 ">
            {% trans 'Set your Password' %} 
        </h2>
    </div>
    <div class="w-100"></div>
    <div class="col-lg-6 mb-5  m-auto">
        <form method='post' action=''>{% csrf_token %}
        {{ form|crispy }}
        <span style='margin-bottom: 12px;'></span>
        <button type="submit" class='my-button mb-5'>
            {% trans 'Set' %}    
        </button>

        </form>
      </div>
      {% else %}
      <div class='text-center auth mb-5 col-md-8 m-auto'>
            <br>
            <h2 class="mt-3 mb-3 pb-3 text-center">
                {% trans 'Expired link' %}
            </h2>
            <p class="lead text-center">
                {% trans 'Excuse me this link has been expired' %}
            </p>
    </div>
    {% endif %}
</div>
</div>
{% endblock %}
