{% extends "base.html" %}
{% load i18n %}
{% block title %}
      {% trans 'password reset complete' %}
{% endblock %}
{% block content %}
<div class="container">
      <div class='row'>
            <div class="col-md-8 text-center auth m-auto">
                  <h2 class='my-4 mt-4 pb-3'>
                        {% trans 'Password reset has been completed' %}
                  </h2>            
            </div>
            <div class="w-100"></div>
            <div class="col-lg-6 text-center m-auto">
                  <p class="text-center lead">{% trans 'Your password has been reseted now you can ' %}
                        <a class="btn btn-link" href="{% url 'account:login' %}">{% trans 'Login' %}</a>
                  </p>

            </div>
      </div>
</div>
{% endblock %}
